@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.product {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    
    padding: 50px 0px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 0 0 30%;
    align-self: stretch;

    padding: 10px 0px 0px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }

  &__content {
    padding: 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }
  
  &__thumbnail {
    width: 80%;
    margin: 0 auto;
    img{
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
      
    }
  }
  &__title,&__price {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
      color: var(--primary-color);
    }
  }
  &__btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    background-color: var(--primary-color);
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
    color: var(--bg-color);

    transition: color 150ms linear, background-color 200ms ease;
    &:hover {
      background-color: var(--bg-color);
      color: var(--primary-color);
    }
  }
}