#root {
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
  --primary-color: #ffb42e;
  --text-color: #1b1b1b;
  --bg-color: #EEF1F5;
}

body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-attachment: fixed;
}